@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);

* {
  font-family: "Montserrat", sans-serif;
}

:root {
  --color-dark: rgb(43, 43, 43);
  --color-light: rgb(206, 206, 206);
  --color-medium: rgb(158, 158, 158);
  --color-accent: rgb(59, 207, 0);
  --color-accent-light: rgb(76, 228, 17);

  --space-small: 0.4rem;
  --space-medium: 0.8rem;
  --space-large: 1.6rem;
}
