body {
  margin: 0;
}

#root {
  display: grid;
  grid-template-columns: 1fr 30rem;
  grid-template-rows: 5rem 1fr;
  height: 100vh;
  background-color: var(--color-dark);
}

#dashboard-title {
  grid-column: 1;
  padding-left: 1rem;
  color: var(--color-light);
}

#main-menu {
  grid-column: 2;
  grid-row: 1 / 3;
  overflow-y: scroll;
  color: var(--color-dark);
  background-color: var(--color-medium);
}

.section {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem 3rem;
}

.subsection {
  display: flex;
  flex-direction: column;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.6rem 0 0;
  padding: 0 1.5rem 0;
}

#graph {
  height: 100%;
}
