body {
  margin: 0;
}

#root {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  overflow-y: auto;
}

.widget {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

#section-attack-graph {
  grid-column: 1;
  grid-row: 1;
}

#section-exploit-ranking {
  grid-column: 1;
  grid-row: 2;
}

#section-exploit-selection {
  grid-column: 2;
  grid-row: 1;
}

#section-clustering {
  grid-column: 2;
  grid-row: 2;
}

#zone-attack-graph {
  grid-column: 3;
  grid-row: 1 / 3;
  background-color: magenta;
}
