.widget {
  display: flex;
  flex-direction: column;
  margin-top: var(--space-large);
}

#upload-attack-graph {
  width: 100%;
  margin-top: var(--space-medium);
  padding: 0.4rem 0;
  text-align: center;
  border: 2px dashed var(--color-light);
  cursor: pointer;
}

#radio-items-graph-type {
  margin-top: var(--space-medium);
}

#sub-widget-number-exploits {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--space-medium);
}

#button-generate {
  align-self: flex-end;
  background-color: var(--color-accent);
  border: none;
  border-radius: 0.4rem;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 800;
  margin-top: var(--space-medium);
  padding: 0.5rem 1.5rem;
}

#checklist-exploits {
  display: flex;
  flex-direction: column;
  margin-top: var(--space-large);
  overflow-y: auto;
}

#object-attack-graph {
  height: 100%;
}

#input-number-exploits {
  padding: 0.4rem;
}
